main
{
    background: #efefef;
}
header
{
    height: 3px;
    width: 490px;
    padding: 10px;
    margin: auto auto;
}

header #currentLocation .locationItem
{
    margin-left: 5px;
}

header #currentLocation .locationItem ~ .locationItem:before
{
    content: "";
    margin-right: 6px;
    border: solid black;
    border-width: 0px 1px 1px 0px;
    padding: 3px;
    display: inline-block;
    transform: rotate(-45deg);
}

header span#viewType
{
    float: right;
}

#fileListing .iconView
{
    display: grid;
    grid-template-columns: auto auto;
    list-style: none;
}

#fileListing .iconView li, #fileListing .iconView li .icon
{
    display: inline;
}

#fileListing .iconView li .icon
{
    vertical-align: middle;
    margin-right: 4px;;
}

.hide
{
    display: none;
}