body
{
    padding: 0px;
    margin: 0px;
}

main
{
    background: #efefef;
    padding: 0px 40px;
    min-height: 500px;
}

header
{
    height: 3px;
    margin: auto auto;
    padding-top: 30px;
    padding-bottom: 15px;
}

header #currentLocation
{
    float: left;
}

header #currentLocation .locationItem
{
    margin-left: 5px;
}

header #currentLocation .locationItem ~ .locationItem:before
{
    content: "";
    margin-right: 6px;
    border: solid black;
    border-width: 0px 1px 1px 0px;
    padding: 3px;
    display: inline-block;
    transform: rotate(-45deg);
}

header span#viewType
{
    float: right;
}
#fileListing ul
{
    padding: 0px;
}

#fileListing .iconView
{
    display: grid;
    grid-template-columns: auto auto;
    list-style: none;
}

#fileListing .iconView li, #fileListing .iconView li .icon
{
    display: inline;
}

#fileListing .iconView li .icon
{
    vertical-align: middle;
    margin-right: 4px;;
}

.hide
{
    display: none;
}